
.bodyContainer {
  display: flex;
  flex-wrap: wrap;
  /*background-color: yellow;*/
  padding: 20px;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1048px;
  /*background-color: green;*/
  margin: auto;
}

.navContainer {
  width: 90%;
  margin-left: auto;
  /*background-color: yellow;*/
}

.text-center {
  margin: auto;
}









.homeContainer {
  margin-left: auto;
  margin-right: auto;
  /*background-color: purple;*/
  width: 90%;
}
